/* ========================================================= */
/* RESET - https://www.joshwcomeau.com/css/custom-css-reset/ */ 

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* ========================================================= */
/* VARIABLES                                                 */ 

:root {
	
	/* COLORS */
  --col-brand-purple: #4F46E5;
  --col-brand-purple-dark: #4338CA;
  --col-brand-purple-tint: #C7D3FE;
  --col-brand-purple-tint-2: #E4E9FD;
	--col-gold: #EAB308;
  --col-text-base: var(--col-zinc-900);
	--col-white: #FFFFFF;
  --col-zinc-50:  #FAFAFA;
  --col-zinc-100: #F4F4F5;
  --col-zinc-200: #E4E4E7;
  --col-zinc-300: #D4D4D8;
  --col-zinc-400: #A1A1AA;
  --col-zinc-500: #71717A;
  --col-zinc-600: #52525B;
  --col-zinc-700: #3F3F46;
  --col-zinc-800: #27272A;
  --col-zinc-900: #18181B;
  --col-zinc-950: #09090B;
	
	/* TYPOGRAPHY */
	--font-regular: 400;
	--font-medium: 500;
	--font-semi: 600;
	--font-bold: 700;
	--text-xs: 0.75rem;  /* 12px */
	--text-sm: 0.875rem; /* 14px */
	--text-base: 1rem;   /* 16px */
	--text-lg: 1.125rem; /* 18px */
	--text-xl: 1.25rem;  /* 20px */
	--text-2xl: 1.5rem;  /* 24px */
	--text-3xl: 1.875rem;/* 30px */
	--text-xl:	2.25rem; /* 36px */
	--text-5xl: 3rem;    /* 48px */
	--text-6xl:	3.75rem; /* 60px */
	
	/* SPACING & SIZING */
	--spacing-page-margin: clamp(1rem, 0.082rem + 3.918vw, 4rem);
	/* 16px at 375px and 64px at 1600px */
	--spacing-flex-16-32: clamp(1rem, 0.545rem + 1.939vw, 2rem);
	/* 16px at 375px and 32px at 1200px */
	--sizing-nav-icon: clamp(1.75rem, 1.333rem + 1.778vw, 2rem);
	/* will scale between 28px at 375px and 32px at 600px */
	--spacing-nav-items: clamp(0.75rem, -1.333rem + 8.889vw, 2rem);
	/* will scale between 12px at 375px and 32px at 600px */
}

/* ========================================================= */
/* GENERAL HELPERS                                           */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	-webkit-clip-path: none;
	clip-path: none;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
	white-space: inherit
}

/* ========================================================= */
/* UNIVERSAL                                                 */

html {
	font-size: 16px;
	height: 100%;
}

body {
	font-family: Inter,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
	font-size: 1em;
  line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--col-text-base);
	height: 100%;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 0;
}

svg {
	fill: var(--col-text-base);
}

/* ========================================================= */
/* HEADER                                                    */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: var(--spacing-flex-16-32);
	width: 100%;
	padding: var(--spacing-flex-16-32) var(--spacing-page-margin);
}

.main-logo {
	display: block;
	width: clamp(9rem, 6.273rem + 11.636vw, 15rem);
	/* will scale between 144px at 375px and 240px at 1200px */
}

.header-links {
	display: flex;
	align-items: center;
	gap: var(--spacing-nav-items);
}

.header-link-icon {
	padding: 0.25rem;
	border-radius: 0.5rem;
	transition: all 0.3s ease;
}

.header-link-icon:hover {
	background-color: var(--col-brand-purple-tint-2);
}

.header-link-icon svg {
	width: var(--sizing-nav-icon);
	height: var(--sizing-nav-icon);
	fill: var(--col-text-base);
	transition: all 0.3s ease;
}

.header-link-icon:hover svg {
	fill: var(--col-brand-purple-dark);
}

.header-link-text {
	font-size: clamp(1rem, 0.792rem + 0.889vw, 1.125rem);
	/* will scale between 16px at 375px and 18px at 600px */
	line-height: 1;
	font-weight: var(--font-semi);
	color: var(--col-text-base);
	text-decoration-thickness: 2px;
	text-underline-offset: 2px;
	text-decoration-color: transparent;
	display: block;
	align-self: stretch;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.25rem 0.75rem;
	border-radius: 0.5rem;
	transition: all 0.3s ease;
}

.header-link-text:hover {
	color: var(--col-brand-purple-dark);
	text-decoration-color: currentcolor;
	background-color: var(--col-brand-purple-tint-2);
}

/* ========================================================= */
/* MAIN                                                      */

main {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 1.5rem;
	row-gap: 3rem;
	width: 100%;
	padding: 0 var(--spacing-page-margin);
}

@media screen and (min-width: 46rem) {
	main {
		grid-template-columns: repeat(2,1fr);
	}
}

@media screen and (min-width: 64rem) {
	main {
		grid-template-columns: repeat(3,1fr);
		row-gap: 4rem;
	}
}

@media screen and (min-width: 100rem) {
	main {
		grid-template-columns: repeat(4,1fr);
		column-gap: 2rem;
	}
}

@media screen and (min-width: 144rem) {
	main {
		grid-template-columns: repeat(6,1fr);
	}
}

/* ========================================================= */
/* COMPONENTS : BUTTON                                       */

.button {
	font-size: var(--text-sm);
	font-weight: var(--font-semi);
	line-height: 1.2;
	letter-spacing: 0.025rem;
	text-align: center;
	text-decoration: none;
	color: var(--col-white);
	display: flex;
	padding: 0.5rem;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border-radius: 0.375rem;
	background: var(--col-brand-purple);
	outline: none;
	transition: all 0.3s ease;
}

.button:hover {
	background: var(--col-brand-purple-dark);
}

.button:focus,
.button:active {
	background: var(--col-brand-purple-dark);
	box-shadow: 0 0 0 4px var(--col-brand-purple-tint);
}

.button:focus-visible {
	box-shadow: 0 0 0 4px var(--col-brand-purple-tint),
							0 0 0 6px var(--col-brand-purple);
}

.button--large {
	font-size: var(--text-base);
	padding: 0.625rem 1.25rem;
}

/* ========================================================= */
/* COMPONENTS : RATING                                       */

.rating {
	display: flex;
	gap: 2px;
}

.rating svg {
	width: 1rem;
	height: 1rem;
	fill: var(--col-white);
	stroke: var(--col-gold);
	stroke-width: 2;
}

.rating svg.rating__filled {
	fill: var(--col-gold);
}

/* ========================================================= */
/* COMPONENTS : PAGE TITLE                                   */

.page-title {
	color: var(--col-white);
	display: flex;
	flex-direction: column;
	justify-content: end;
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2rem;
	border-radius: 0.75rem;
}

@media screen and (min-width: 46rem) {
	.page-title  {
		grid-column: span 2;
	}
}

@media screen and (max-width: 332px) {
	.page-title  { background-image: url("../images/title-bg_300.jpg"); }}

@media screen and (min-width: 333px) and (max-width: 659px) {
	.page-title  { background-image: url("../images/title-bg_607.jpg"); }}
	
@media screen and (min-width: 660px) and (max-width: 900px) {
	.page-title  { background-image: url("../images/title-bg_834.jpg"); }}
	
@media screen and (min-width: 901px) and (max-width: 2220px) {
	.page-title  { background-image: url("../images/title-bg_1032.jpg"); }}
	
@media screen and (min-width: 2221px) {
	.page-title  { background-image: url("../images/title-bg_1200.jpg"); }}
	
.page-title h1 {
	font-size: clamp(1.5rem, 0.964rem + 2.286vw, 2.25rem);
	/* will scale between 1.5rem at 375px and 2.25rem at 900px */
	line-height: 1.2;
	margin: 3em 0 0.125em;
}
	
.page-title p {
	font-size: clamp(1rem, 0.911rem + 0.381vw, 1.125rem);
	/* will scale between 1rem at 375px and 1.125rem at 900px */
	line-height: 1.5;
}

/* ========================================================= */
/* COMPONENTS : LIST ITEM                                    */

.item {
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 1.25rem;
}

.item__img {
	flex-basis: 9rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.item__image-frame {
	background: var(--col-white);
	box-shadow: 0px 0px 0px 4px var(--col-white),
							1px 1px 6px 6px rgba(0, 0, 0, 0.12),
						  0px 0px 2px 5px rgba(0, 0, 0, 0.10);
}

.item__txt {
	flex-basis: 12rem;
	flex-grow: 1;
}

.item__title {
	line-height: 1;
	font-weight: var(--font-bold);
	margin: 0 0 0.75rem;
}

.item__author {
	font-size: var(--text-sm);
	line-height: 1.2;
	font-weight: var(--font-medium);
	color: var(--col-zinc-600);
	margin: 0 0 0.75rem;
}

.item__author span {
	font-weight: var(--font-bold);
}

.item__series {
	font-size: var(--text-xs);
	line-height: 1.2;
	font-weight: var(--font-medium);
	color: var(--col-zinc-600);
	margin: 0 0 0.875rem;
}

.item__series span {
	font-weight: var(--font-bold);
}

.item__rating {
	margin: 0 0 0.75rem;
}

.item__price {
	font-size: var(--text-lg);
	font-weight: var(--font-bold);
	margin: 0 0 0.75rem;
}

.item__price strike {
	font-size: 0.777em;
	color: var(--col-zinc-400);
}

.item__quote {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin: 0;
}

.item__quote p {
	font-size: var(--text-sm);
	line-height: 1.4;
	font-weight: var(--font-medium);
	color: var(--col-zinc-600);
	margin: 0;
}

.item__quote cite {
	font-size: var(--text-xs);
	line-height: 1.2;
	font-weight: var(--font-bold);
	font-style: normal;
	color: var(--col-zinc-600);
	margin: 0;
}

/* ========================================================= */
/* FOOTER                                                    */

footer {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	background-color: var(--col-zinc-100);
	padding: var(--spacing-flex-16-32) var(--spacing-page-margin);
	margin-top: 4rem;
}

@media screen and (min-width: 46rem) {
	footer {
		flex-direction: row-reverse;
		align-items: end;
		justify-content: space-between;
	}
}

.footer-form form {
	margin-top: 0.75rem;
}

.footer-meta p {
	font-size: var(--text-base);
	font-weight: var(--font-medium);
	color: var(--col-zinc-600);
	margin: 0 0 1rem;
}

.footer-meta ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	column-gap: 1rem;
	row-gap: 0.25rem;
	padding: 0;
	margin: 0;
}

.footer-meta ul a {
	font-size: var(--text-sm);
	font-weight: var(--font-medium);
	color: var(--col-zinc-600);
	text-decoration-thickness: 2px;
	text-underline-offset: 2px;
	text-decoration-color: transparent;
	outline: none;
	transition: all 0.3s ease;
}

.footer-meta ul a:focus,
.footer-meta ul a:hover,
.footer-meta ul a:active {
	color: var(--col-brand-purple-dark);
	text-decoration-color: currentcolor;
}

/* ========================================================= */
/* FORM ELEMENTS                                             */

input[type='text'],
input[type='search'],
input[type='email'] {
	font-size: var(--text-base);
	line-height: 1.2;
	width: 100%;
	max-width: 34ch;
	padding: 0.5625rem 1rem;
	border: 1px solid var(--col-zinc-300);
	border-radius: 0.375rem;
	outline: none;
	transition: all 0,3s ease;
}

input[type='text']:hover,
input[type='search']:hover,
input[type='email']:hover {
	border-color: var(--col-zinc-400);
}

input[type='text']:focus,
input[type='search']:focus,
input[type='email']:focus {
	border-color: var(--col-brand-purple);
	box-shadow: 0 0 0 4px var(--col-brand-purple-tint);
}

input[type='text']:focus-visible,
input[type='search']:focus-visible,
input[type='email']:focus-visible {
	box-shadow: 0 0 0 4px var(--col-brand-purple-tint),
							0 0 0 6px var(--col-brand-purple);
}

.form-item-inline {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}